%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title Practica 3_STW
  %body
    %center
      %h3 Choose one of the following:
      %a{:href => '?choice=rock'} Rock
      %a{:href => '?choice=paper'} Paper
      %a{:href => '?choice=scissors'} Scissors

      %h2 Player vs Computer
    
      %h3= answer